<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>게시글 상세 화면</title>
	<link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
	<div class="container">
		<h2>게시글 상세 화면</h2>
	    <form id="frm" th:method="delete" th:action="'/board/' + ${boardIdx}">
	    	<table class="board_detail">
				<colgroup>
					<col width="15%"/>
					<col width="35%"/>
					<col width="15%"/>
					<col width="35%"/>
				</colgroup>
				<caption>게시글 상세내용</caption>
				<tbody>
					<tr>
						<th scope="row">글 번호</th>
						<td th:text="${board.boardIdx}"></td>
						<th scope="row">조회수</th>
						<td th:text="${board.hitCnt}"></td>
					</tr>
					<tr>
						<th scope="row">작성자</th>
						<td th:text="${board.creatorId}"></td>
						<th scope="row">작성일</th>
						<td th:text="${board.createdDatetime}"></td>
					</tr>
					<tr>
						<th scope="row">제목</th>
						<td colspan="3" id="title" name="title" th:text="${board.title}" readonly/></td>
					</tr>
					<tr>
						<td colspan="4" class="view_text"
								title="내용" id="contents" name="contents" th:text="${board.contents}" readonly>
						</td>
					</tr>
				</tbody>
			</table>
			<input type="hidden" id="boardIdx" name="boardIdx" th:value="${board.boardIdx}">
			<input type="hidden" id="method" name="_method"/>
			<div class="file_list" th:if="${board.fileList != null  and board.fileList.size() > 0}">
				[ 첨부파일 ]
				<a th:each="list : ${board.fileList}" th:href="@{/board/file(idx=${list.idx}, boardIdx=${list.boardIdx})}" th:text="|${list.originalFileName} (${list.fileSize} kb)|"></a>
			</div>	
			<a href="/board" id="list" class="btn btn_a">목록으로</a>
			<a th:href="'/board/modify/' + ${boardIdx}" id="edit" class="btn btn_a">수정하기</a>
			<button type="submit" id="delete" class="btn">삭제하기</button>
		</form>		
	</div>
</body>
</html>