<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>board</title>
	<link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
	<div class="container">
	    <h2>게시글 등록</h2>
	   <!-- enctype="multipart/form-data"를 추가해주는 것이 포인트 -->
		<form id="frm" name="frm" method="post" action="/board" enctype="multipart/form-data">
			<table class="board_detail">
	    		<tr>
	    			<td>제목</td>
	    			<!--name이 서버에 전달되는 변수-->
	    			<td><input type="text" id="title" name="title"/></td>
	    		</tr>
	    		<tr>
	    			<td colspan="2">
						<!--name이 서버에 전달되는 변수-->
		    			<textarea id="contents" name="contents"></textarea>
	    			</td>
	    		</tr>
	    	</table>
			<input type="file" id="files" name="files" multiple="multiple">
			<button type="button" id="insertBtn" class="btn">등록하기</button>
	    </form>
    </div>
    <script type="text/javascript">
		const $insertBtn = document.querySelector('#insertBtn');
		const $insertForm = document.querySelector('#frm');
		
		$insertBtn.addEventListener('click', e => {
			const maxOneFileSize = 1 * 1024 * 1024;
		    const maxAllFileSize = 5 * 1024 * 1024;
		    let sumFileSize = 0;
		    let isOneTrue = true;
		    let isAllTrue = true;
		    
    		const $files = document.querySelector('#files');
    		// input의 type이 file인 태그의 경우 .files라는 내장 프로퍼티를 사용 가능하다.
    		// .files라는 프로퍼티는 type이 file인 input을 요소로 선택해서 사용할 수 있고,
    		// 사용자가 선택한 파일들의 정보를 담고 있다.
    		const files = $files.files;
    		
    		for(const oneFile of files){
				sumFileSize += oneFile.size;
				if(oneFile.size >maxOneFileSize){
					alert("파일 용량이 초과되었습니다.");
					isOneTrue = false;
					break;
				}				
			}
			
			if(sumFileSize > maxAllFileSize) { isAllTrue = false; }			
			if(isOneTrue && isAllTrue) { $insertForm.submit(); }
		});
	</script>
</body>
</html>